body{
    background-image: url("https://i.pinimg.com/originals/9e/7b/47/9e7b47982ee1b58fef26717182b4b28c.jpg");
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    background-position: center;
    background-size: cover;

    }
h1{
    padding: 35px;
    text-align: center;
    font-weight: bold;
    }

.menubar{
    font-family: Verdana, serif;
    font-size: 12px;
    color: #000000;
    border: #B1B1B1 solid;
    border-width: 0px 1px 0px 0px;
    padding: 10px 17px 10px 12px;
    }